In [38]:
import pandas as pd 
raw_data = pd.read_csv("/Users/pranjal/Desktop/Causal-Inference/data/marketing_AB.csv")
raw_data.head()

,Unnamed: 0,user id,test group,converted,total ads,most ads day,most ads hour
0,0,1069124,ad,False,130,Monday,20
1,1,1119715,ad,False,93,Tuesday,22
2,2,1144181,ad,False,21,Tuesday,18
3,3,1435133,ad,False,355,Tuesday,10
4,4,1015700,ad,False,276,Friday,14

In [39]:
data= raw_data.copy()
data= data.drop(["Unnamed: 0"], axis =1)
data = data.rename(columns={'test group': 'test_group', 'total ads': 'total_ads','most ads day' : 'most_ads_day','most ads hour': 'most_ads_hour'}) 
data_map =data.copy()
data_map['converted']= data_map['converted'].apply(lambda x:1 if x== True  else  0)
data_map['test_group']= data_map['test_group'].apply(lambda x:1 if x== 'ad'  else  0)
data_map = pd.get_dummies(data_map, columns = ['most_ads_day'], drop_first=True)
df = data_map
data_map.head()

,user id,test_group,converted,total_ads,most_ads_hour,most_ads_day_Monday,most_ads_day_Saturday,most_ads_day_Sunday,most_ads_day_Thursday,most_ads_day_Tuesday,most_ads_day_Wednesday
0,1069124,1,0,130,20,1,0,0,0,0,0
1,1119715,1,0,93,22,0,0,0,0,1,0
2,1144181,1,0,21,18,0,0,0,0,1,0
3,1435133,1,0,355,10,0,0,0,0,1,0
4,1015700,1,0,276,14,0,0,0,0,0,0

In [40]:
outcome = 'converted'
treatment = 'test_group'
rest = list(df.drop([outcome, treatment, 'user id'], axis = 1).columns)
df = df[[outcome] + [treatment] + rest]

In [41]:
df.corr()

,converted,test_group,total_ads,most_ads_hour,most_ads_day_Monday,most_ads_day_Saturday,most_ads_day_Sunday,most_ads_day_Thursday,most_ads_day_Tuesday,most_ads_day_Wednesday
converted,1.000000,0.009611,0.217419,0.019674,0.020127,-0.010722,-0.002005,-0.009478,0.011428,-0.000756
test_group,0.009611,1.000000,0.000279,0.006930,-0.000466,0.010248,0.008784,-0.014600,0.004930,-0.006391
total_ads,0.217419,0.000279,1.000000,-0.010837,0.004841,0.003737,-0.003933,-0.012907,-0.007979,-0.002573
most_ads_hour,0.019674,0.006930,-0.010837,1.000000,0.011996,0.019178,-0.007234,0.003518,-0.034716,-0.015004
most_ads_day_Monday,0.020127,-0.000466,0.004841,0.011996,1.000000,-0.167398,-0.171814,-0.168969,-0.162388,-0.166502
most_ads_day_Saturday,-0.010722,0.010248,0.003737,0.019178,-0.167398,1.000000,-0.165496,-0.162755,-0.156416,-0.160380
most_ads_day_Sunday,-0.002005,0.008784,-0.003933,-0.007234,-0.171814,-0.165496,1.000000,-0.167048,-0.160542,-0.164610
most_ads_day_Thursday,-0.009478,-0.014600,-0.012907,0.003518,-0.168969,-0.162755,-0.167048,1.000000,-0.157884,-0.161884
most_ads_day_Tuesday,0.011428,0.004930,-0.007979,-0.034716,-0.162388,-0.156416,-0.160542,-0.157884,1.000000,-0.155579
most_ads_day_Wednesday,-0.000756,-0.006391,-0.002573,-0.015004,-0.166502,-0.160380,-0.164610,-0.161884,-0.155579,1.000000

In [42]:
#import wooldridge
#df = wooldridge.data('jtrain3')
#df['avg'] = 0.5 * (df.re74+df.re75)
df = df.dropna()
#df = df.fillna(0)
#df = df[df.avg <= 15]
y = df[outcome].astype('float')
d = df[treatment].astype('float')
x = df[rest].astype('float')
print(df.shape)
df.head()

(588101, 10)

,converted,test_group,total_ads,most_ads_hour,most_ads_day_Monday,most_ads_day_Saturday,most_ads_day_Sunday,most_ads_day_Thursday,most_ads_day_Tuesday,most_ads_day_Wednesday
0,0,1,130,20,1,0,0,0,0,0
1,0,1,93,22,0,0,0,0,1,0
2,0,1,21,18,0,0,0,0,1,0
3,0,1,355,10,0,0,0,0,1,0
4,0,1,276,14,0,0,0,0,0,0

In [43]:
# Simple Comparision of Means
import numpy as np
import statsmodels.api as sm
mod = sm.OLS(y, sm.add_constant(np.c_[d], prepend=False))
res = mod.fit()
print(res.summary())
print(res.params[0])
print(res.bse[0])

                            OLS Regression Results
==============================================================================
Dep. Variable:              converted   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                     54.32
Date:                Sun, 04 Dec 2022   Prob (F-statistic):           1.70e-13
Time:                        22:13:46   Log-Likelihood:             2.5499e+05
No. Observations:              588101   AIC:                        -5.100e+05
Df Residuals:                  588099   BIC:                        -5.099e+05
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             0.0077      0.001      7.370      0.000       0.006       0.010
const          0.0179      0.001     17.459      0.000       0.016       0.020
==============================================================================
Omnibus:                   650946.201   Durbin-Watson:                   1.975
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         32995692.936
Skew:                           6.053   Prob(JB):                         0.00
Kurtosis:                      37.641   Cond. No.                         9.90
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
0.0076924531922015205
0.0010436946375872334

In [51]:
# Pooled Regression Adjustment
import statsmodels.api as sm
mod = sm.OLS(y, sm.add_constant(np.c_[d, x], prepend=False))
res = mod.fit()
print(res.summary())
print(res.params[0])
print(res.bse[0])

                            OLS Regression Results
==============================================================================
Dep. Variable:              converted   R-squared:                       0.049
Model:                            OLS   Adj. R-squared:                  0.049
Method:                 Least Squares   F-statistic:                     3339.
Date:                Mon, 05 Dec 2022   Prob (F-statistic):               0.00
Time:                        00:24:06   Log-Likelihood:             2.6961e+05
No. Observations:              588101   AIC:                        -5.392e+05
Df Residuals:                  588091   BIC:                        -5.391e+05
Df Model:                           9
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             0.0075      0.001      7.348      0.000       0.005       0.009
x2             0.0008   4.57e-06    171.208      0.000       0.001       0.001
x3             0.0007   4.13e-05     17.769      0.000       0.001       0.001
x4             0.0117      0.001     16.144      0.000       0.010       0.013
x5            -0.0001      0.001     -0.175      0.861      -0.002       0.001
x6             0.0042      0.001      5.755      0.000       0.003       0.006
x7             0.0020      0.001      2.770      0.006       0.001       0.003
x8             0.0102      0.001     13.660      0.000       0.009       0.012
x9             0.0047      0.001      6.333      0.000       0.003       0.006
const         -0.0165      0.001    -13.154      0.000      -0.019      -0.014
==============================================================================
Omnibus:                   620785.367   Durbin-Watson:                   1.993
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         28559140.446
Skew:                           5.611   Prob(JB):                         0.00
Kurtosis:                      35.242   Cond. No.                         415.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
0.007482811960618378
0.0010182933767929308

In [47]:
import numpy as np
from doubleml.datasets import make_plr_CCDDHNR2018
from doubleml import DoubleMLData

np.random.seed(1234)
dml_data_bonus = DoubleMLData(df, y_col=outcome,
                                  d_cols=treatment,
                                  x_cols=list(rest))
print(dml_data_bonus)
from sklearn.base import clone
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LassoCV
learner = RandomForestRegressor(n_estimators = 100, max_features = 'sqrt', max_depth= 6)
ml_l_bonus = clone(learner)
ml_m_bonus = clone(learner)
learner = LassoCV()
ml_l_sim = clone(learner)
ml_m_sim = clone(learner)
def non_orth_score(y, d, l_hat, m_hat, g_hat, smpls):
    u_hat = y - g_hat
    psi_a = -np.multiply(d, d)
    psi_b = np.multiply(d, u_hat)
    return psi_a, psi_b

from doubleml import DoubleMLPLR
np.random.seed(3141)
obj_dml_plr_bonus = DoubleMLPLR(dml_data_bonus, ml_l_bonus, ml_m_bonus)
obj_dml_plr_bonus.fit();
print(obj_dml_plr_bonus)

================== DoubleMLData Object ==================

------------------ Data summary      ------------------
Outcome variable: converted
Treatment variable(s): ['test_group']
Covariates: ['total_ads', 'most_ads_hour', 'most_ads_day_Monday', 'most_ads_day_Saturday', 'most_ads_day_Sunday', 'most_ads_day_Thursday', 'most_ads_day_Tuesday', 'most_ads_day_Wednesday']
Instrument variable(s): None
No. Observations: 588101

------------------ DataFrame info    ------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 588101 entries, 0 to 588100
Columns: 10 entries, converted to most_ads_day_Wednesday
dtypes: int64(4), uint8(6)
memory usage: 21.3 MB

================== DoubleMLPLR Object ==================

------------------ Data summary      ------------------
Outcome variable: converted
Treatment variable(s): ['test_group']
Covariates: ['total_ads', 'most_ads_hour', 'most_ads_day_Monday', 'most_ads_day_Saturday', 'most_ads_day_Sunday', 'most_ads_day_Thursday', 'most_ads_day_Tuesday', 'most_ads_day_Wednesday']
Instrument variable(s): None
No. Observations: 588101

------------------ Score & algorithm ------------------
Score function: partialling out
DML algorithm: dml2

------------------ Machine learner   ------------------
Learner ml_l: RandomForestRegressor(max_depth=6, max_features='sqrt')
Learner ml_m: RandomForestRegressor(max_depth=6, max_features='sqrt')

------------------ Resampling        ------------------
No. folds: 5
No. repeated sample splits: 1
Apply cross-fitting: True

------------------ Fit summary       ------------------
                coef   std err        t         P>|t|     2.5 %    97.5 %
test_group  0.007799  0.000873  8.92956  4.277070e-19  0.006087  0.009511

In [54]:
print(obj_dml_plr_bonus.all_se)

[[0.00087936]]

In [49]:
import numpy as np
from doubleml.datasets import make_plr_CCDDHNR2018
from doubleml import DoubleMLData

np.random.seed(1234)
dml_data_bonus = DoubleMLData(df, y_col=outcome,
                                  d_cols=treatment,
                                  x_cols=list(rest))
print(dml_data_bonus)
from sklearn.base import clone
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LassoCV
learner = RandomForestClassifier(n_estimators = 100, max_features = 'sqrt', max_depth= 6)
ml_l_bonus = clone(learner)
ml_m_bonus = clone(learner)
learner = LassoCV()
ml_l_sim = clone(learner)
ml_m_sim = clone(learner)
def non_orth_score(y, d, l_hat, m_hat, g_hat, smpls):
    u_hat = y - g_hat
    psi_a = -np.multiply(d, d)
    psi_b = np.multiply(d, u_hat)
    return psi_a, psi_b

from doubleml import DoubleMLIRM
np.random.seed(3141)
obj_dml_plr_bonus = DoubleMLIRM(dml_data_bonus, ml_l_bonus, ml_m_bonus)
obj_dml_plr_bonus.fit();
print(obj_dml_plr_bonus)

================== DoubleMLData Object ==================

------------------ Data summary      ------------------
Outcome variable: converted
Treatment variable(s): ['test_group']
Covariates: ['total_ads', 'most_ads_hour', 'most_ads_day_Monday', 'most_ads_day_Saturday', 'most_ads_day_Sunday', 'most_ads_day_Thursday', 'most_ads_day_Tuesday', 'most_ads_day_Wednesday']
Instrument variable(s): None
No. Observations: 588101

------------------ DataFrame info    ------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 588101 entries, 0 to 588100
Columns: 10 entries, converted to most_ads_day_Wednesday
dtypes: int64(4), uint8(6)
memory usage: 21.3 MB

================== DoubleMLIRM Object ==================

------------------ Data summary      ------------------
Outcome variable: converted
Treatment variable(s): ['test_group']
Covariates: ['total_ads', 'most_ads_hour', 'most_ads_day_Monday', 'most_ads_day_Saturday', 'most_ads_day_Sunday', 'most_ads_day_Thursday', 'most_ads_day_Tuesday', 'most_ads_day_Wednesday']
Instrument variable(s): None
No. Observations: 588101

------------------ Score & algorithm ------------------
Score function: ATE
DML algorithm: dml2

------------------ Machine learner   ------------------
Learner ml_g: RandomForestClassifier(max_depth=6)
Learner ml_m: RandomForestClassifier(max_depth=6)

------------------ Resampling        ------------------
No. folds: 5
No. repeated sample splits: 1
Apply cross-fitting: True

------------------ Fit summary       ------------------
                coef   std err         t         P>|t|     2.5 %    97.5 %
test_group  0.007699  0.000879  8.754949  2.041950e-18  0.005975  0.009422

In [50]:
# DML regression - still yeilds unbiased estimate of ATE 
from econml.dml import LinearDML
est = LinearDML(random_state=9)
est.fit(y, d, X=None,W=x)
est.summary()

Coefficient Results:  X is None, please call intercept_inference to learn the constant!

<class 'econml.utilities.Summary'>
"""
                       CATE Intercept Results
===================================================================
               point_estimate stderr zstat pvalue ci_lower ci_upper
-------------------------------------------------------------------
cate_intercept          0.008  0.001 8.778    0.0    0.006    0.009
-------------------------------------------------------------------

<sub>A linear parametric conditional average treatment effect (CATE) model was fitted:
$Y = \Theta(X)\cdot T + g(X, W) + \epsilon$
where for every outcome $i$ and treatment $j$ the CATE $\Theta_{ij}(X)$ has the form:
$\Theta_{ij}(X) = X' coef_{ij} + cate\_intercept_{ij}$
Coefficient Results table portrays the $coef_{ij}$ parameter vector for each outcome $i$ and treatment $j$. Intercept Results table portrays the $cate\_intercept_{ij}$ parameter.</sub>
"""