Between 1965 and 1982, the Social Security Survivor Benefits (SSSB) Program in the United States offered $6,700 (expressed in year 2000 dol- lars) in college financial aid to the 18- to 22-year-old children of deceased, disabled, or retired Social Security recipients. In 1981, the U.S. Congress eliminated the SSSB program, mandating that otherwise eligible children who were not enrolled in college as of May 1982 would not receive the SSSB college-aid offer. Using the National Longitudinal Survey of Youth, Dynarski identified students in cohorts of high-school seniors, just before and just after the policy change, who would have been eligible for the aid offer because their fathers were Social Security recipients who had died. She argued that, other than differing in receipt of the offer of college aid, these two groups of students were equal in expectation initially. However, the 137 high-school seniors who satisfied SSSB eligibility requirements immediately before the policy change (in the years 1979 through 1981) received the college financial-aid offer and therefore constituted the treat- ment group. The 54 high-school seniors who satisfied SSSB eligibility requirements immediately after the policy change (1982 and 1983) received no SSSB-related financial-aid offer and made up the control group.

In [28]:
import pandas as pd
import numpy as np
df = pd.read_csv('/Users/pranjal/Desktop/Causal-Inference/data/catholic.csv')

In [29]:
df.head()

,id,read12,math12,hsgrad,inpse,catholic,read8,math8,female,race,...,parmar8,faminc8,fathed8,mothed8,fhowfar,mhowfar,fight8,nohw8,disrupt8,riskdrop8
0,124902,61.410000,49.770000,yes,yes,yes,55.959999,50.270000,no,white,...,married,$25000-$34999,hs grad,hs grad,coll <4,coll <4,never,no,no,1
1,124915,58.340000,59.840000,yes,yes,yes,63.099998,51.520000,no,white,...,married,$25000-$34999,dont know,dont know,coll <4,coll grad,never,no,no,0
2,124916,59.330002,50.380001,yes,yes,yes,60.990002,47.560001,yes,white,...,married,$25000-$34999,not finish hs,doctorate,coll <4,coll <4,never,no,no,0
3,124932,49.590000,45.029999,yes,yes,yes,45.340000,46.599998,yes,white,...,married,$25000-$34999,dont know,dont know,coll grad,coll grad,never,no,no,1
4,124944,57.619999,54.259998,yes,yes,yes,55.930000,60.220001,yes,white,...,married,35000-$49999,hs grad,hs grad,coll grad,coll grad,never,no,no,1

In [30]:
cat = df.select_dtypes('object').columns
df = pd.get_dummies(df, columns = cat, drop_first = True)

In [31]:
df.head()

,id,read12,math12,read8,math8,riskdrop8,hsgrad_yes,inpse_yes,catholic_yes,female_yes,...,fhowfar_postsec ed,mhowfar_coll grad,mhowfar_hs grad,mhowfar_junior coll,mhowfar_not finish hs,mhowfar_postsec ed,fight8_never,fight8_once or twice,nohw8_yes,disrupt8_yes
0,124902,61.410000,49.770000,55.959999,50.270000,1,1,1,1,0,...,0,0,0,0,0,0,1,0,0,0
1,124915,58.340000,59.840000,63.099998,51.520000,0,1,1,1,0,...,0,1,0,0,0,0,1,0,0,0
2,124916,59.330002,50.380001,60.990002,47.560001,0,1,1,1,1,...,0,0,0,0,0,0,1,0,0,0
3,124932,49.590000,45.029999,45.340000,46.599998,1,1,1,1,1,...,0,1,0,0,0,0,1,0,0,0
4,124944,57.619999,54.259998,55.930000,60.220001,1,1,1,1,1,...,0,1,0,0,0,0,1,0,0,0

In [32]:
outcome = 'math12'
treatment = 'catholic_yes'
rest = list(df.drop([outcome, treatment, 'id', 'read12'], axis = 1).columns)
df = df[[outcome] + [treatment] + rest]

In [33]:
#import wooldridge
#df = wooldridge.data('jtrain3')
#df['avg'] = 0.5 * (df.re74+df.re75)
#df = df.dropna()
df = df.fillna(0)
#df = df[df.avg <= 15]
y = df[outcome]
d = df[treatment]
x = df[rest].astype('float')
print(df.shape)
df.head()

(5671, 61)

,math12,catholic_yes,read8,math8,riskdrop8,hsgrad_yes,inpse_yes,female_yes,race_api,race_black,...,fhowfar_postsec ed,mhowfar_coll grad,mhowfar_hs grad,mhowfar_junior coll,mhowfar_not finish hs,mhowfar_postsec ed,fight8_never,fight8_once or twice,nohw8_yes,disrupt8_yes
0,49.770000,1,55.959999,50.270000,1,1,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,59.840000,1,63.099998,51.520000,0,1,1,0,0,0,...,0,1,0,0,0,0,1,0,0,0
2,50.380001,1,60.990002,47.560001,0,1,1,1,0,0,...,0,0,0,0,0,0,1,0,0,0
3,45.029999,1,45.340000,46.599998,1,1,1,1,0,0,...,0,1,0,0,0,0,1,0,0,0
4,54.259998,1,55.930000,60.220001,1,1,1,1,0,0,...,0,1,0,0,0,0,1,0,0,0

In [34]:
# Simple Comparision of Means
import statsmodels.api as sm
mod = sm.OLS(y, sm.add_constant(np.c_[d], prepend=False))
res = mod.fit()
print(res.summary())
print(res.params[0])
print(res.bse[0])

                            OLS Regression Results
==============================================================================
Dep. Variable:                 math12   R-squared:                       0.016
Model:                            OLS   Adj. R-squared:                  0.016
Method:                 Least Squares   F-statistic:                     90.48
Date:                Mon, 05 Dec 2022   Prob (F-statistic):           2.69e-21
Time:                        01:38:06   Log-Likelihood:                -20770.
No. Observations:                5671   AIC:                         4.154e+04
Df Residuals:                    5669   BIC:                         4.156e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             3.8949      0.409      9.512      0.000       3.092       4.698
const         50.6447      0.132    382.815      0.000      50.385      50.904
==============================================================================
Omnibus:                      757.908   Durbin-Watson:                   1.726
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              190.920
Skew:                          -0.038   Prob(JB):                     3.49e-42
Kurtosis:                       2.104   Cond. No.                         3.31
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
3.8948595725290707
0.40946212810843

In [35]:
# Pooled Regression Adjustment
import statsmodels.api as sm
mod = sm.OLS(y, sm.add_constant(np.c_[d, x], prepend=False))
res = mod.fit()
print(res.summary())
print(res.params[0])
print(res.bse[0])

                            OLS Regression Results
==============================================================================
Dep. Variable:                 math12   R-squared:                       0.735
Model:                            OLS   Adj. R-squared:                  0.732
Method:                 Least Squares   F-statistic:                     287.9
Date:                Mon, 05 Dec 2022   Prob (F-statistic):               0.00
Time:                        01:38:11   Log-Likelihood:                -17054.
No. Observations:                5671   AIC:                         3.422e+04
Df Residuals:                    5616   BIC:                         3.458e+04
Df Model:                          54
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             1.0425      0.219      4.757      0.000       0.613       1.472
x2             0.1225      0.010     12.755      0.000       0.104       0.141
x3             0.6345      0.010     64.665      0.000       0.615       0.654
x4            -0.3334      0.124     -2.687      0.007      -0.577      -0.090
x5             1.9365      0.263      7.355      0.000       1.420       2.453
x6             1.6937      0.172      9.864      0.000       1.357       2.030
x7            -1.5034      0.140    -10.722      0.000      -1.778      -1.229
x8             1.4456      0.158      9.129      0.000       1.135       1.756
x9             0.3514      0.130      2.693      0.007       0.096       0.607
x10            1.0681      0.129      8.268      0.000       0.815       1.321
x11            0.9984      0.106      9.427      0.000       0.791       1.206
x12            0.9984      0.106      9.427      0.000       0.791       1.206
x13            0.3514      0.130      2.693      0.007       0.096       0.607
x14            1.0681      0.129      8.268      0.000       0.815       1.321
x15            1.4456      0.158      9.129      0.000       1.135       1.756
x16            1.5388      0.296      5.191      0.000       0.958       2.120
x17           -0.7978      0.266     -2.996      0.003      -1.320      -0.276
x18           -0.1668      0.584     -0.286      0.775      -1.311       0.978
x19           -0.2330      0.565     -0.412      0.680      -1.340       0.874
x20           -0.4543      0.473     -0.961      0.337      -1.381       0.472
x21           -0.5089      0.604     -0.843      0.399      -1.693       0.675
x22            0.3715      0.593      0.626      0.531      -0.792       1.535
x23            0.4740      0.618      0.766      0.443      -0.738       1.686
x24            0.1850      0.607      0.305      0.761      -1.005       1.375
x25            0.5813      0.600      0.969      0.333      -0.595       1.757
x26            0.2631      0.764      0.345      0.730      -1.234       1.760
x27            0.6210      0.680      0.914      0.361      -0.712       1.954
x28            0.8024      0.603      1.331      0.183      -0.379       1.984
x29            0.5121      0.619      0.828      0.408      -0.701       1.725
x30            0.4385      0.659      0.666      0.506      -0.853       1.730
x31            0.2267      0.937      0.242      0.809      -1.609       2.063
x32            1.0913      1.285      0.849      0.396      -1.428       3.610
x33           -0.1712      0.309     -0.554      0.580      -0.777       0.435
x34           -0.1037      0.498     -0.208      0.835      -1.080       0.873
x35           -0.2853      0.346     -0.826      0.409      -0.963       0.392
x36           -0.4785      0.280     -1.706      0.088      -1.028       0.071
x37           -0.3178      0.317     -1.003      0.316      -0.939       0.304
x38           -0.1420      0.375     -0.378      0.705      -0.878       0.594
x39           -0.9181      0.326     -2.813      0.005      -1.558      -0.278
x40           -0.0245      0.313     -0.078      0.937      -0.638       0.589
x41            0.3631      0.607      0.598      0.550      -0.828       1.554
x42           -0.2320      0.354     -0.655      0.513      -0.927       0.463
x43           -0.3512      0.270     -1.301      0.193      -0.880       0.178
x44           -0.1039      0.309     -0.336      0.737      -0.710       0.502
x45           -0.6784      0.387     -1.752      0.080      -1.437       0.081
x46           -0.3913      0.326     -1.199      0.231      -1.031       0.249
x47            0.7136      0.357      1.999      0.046       0.014       1.413
x48            0.0746      0.500      0.149      0.881      -0.906       1.055
x49            0.3218      0.460      0.700      0.484      -0.580       1.223
x50            2.1664      1.062      2.039      0.041       0.084       4.249
x51            0.3604      0.406      0.888      0.375      -0.436       1.156
x52            0.1864      0.361      0.516      0.606      -0.522       0.895
x53           -0.0721      0.522     -0.138      0.890      -1.095       0.951
x54           -0.8297      0.470     -1.765      0.078      -1.751       0.092
x55           -1.4455      1.121     -1.290      0.197      -3.643       0.752
x56            0.7387      0.407      1.815      0.070      -0.059       1.537
x57            2.9587      0.283     10.437      0.000       2.403       3.514
x58           -0.0956      0.377     -0.254      0.800      -0.834       0.643
x59           -0.8568      0.201     -4.269      0.000      -1.250      -0.463
x60            2.4436      0.315      7.757      0.000       1.826       3.061
const          5.4022      0.484     11.159      0.000       4.453       6.351
==============================================================================
Omnibus:                       86.340   Durbin-Watson:                   1.884
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              137.044
Skew:                          -0.143   Prob(JB):                     1.74e-30
Kurtosis:                       3.706   Cond. No.                     1.06e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.75e-25. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
1.0424870447012917
0.2191260702077397

In [36]:
import numpy as np
from doubleml.datasets import make_plr_CCDDHNR2018
from doubleml import DoubleMLData

np.random.seed(1234)
dml_data_bonus = DoubleMLData(df, y_col=outcome,
                                  d_cols=treatment,
                                  x_cols=list(rest))
print(dml_data_bonus)
from sklearn.base import clone
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LassoCV
learner = RandomForestRegressor(n_estimators = 500, max_features = 'sqrt', max_depth= 6)
ml_l_bonus = clone(learner)
ml_m_bonus = clone(learner)
learner = LassoCV()
ml_l_sim = clone(learner)
ml_m_sim = clone(learner)
def non_orth_score(y, d, l_hat, m_hat, g_hat, smpls):
    u_hat = y - g_hat
    psi_a = -np.multiply(d, d)
    psi_b = np.multiply(d, u_hat)
    return psi_a, psi_b

from doubleml import DoubleMLPLR
np.random.seed(3141)
obj_dml_plr_bonus = DoubleMLPLR(dml_data_bonus, ml_l_bonus, ml_m_bonus)
obj_dml_plr_bonus.fit();
print(obj_dml_plr_bonus)

================== DoubleMLData Object ==================

------------------ Data summary      ------------------
Outcome variable: math12
Treatment variable(s): ['catholic_yes']
Covariates: ['read8', 'math8', 'riskdrop8', 'hsgrad_yes', 'inpse_yes', 'female_yes', 'race_api', 'race_black', 'race_hispanic', 'race_white', 'white_yes', 'black_yes', 'hisp_yes', 'api_yes', 'nativam_yes', 'parmar8_married', 'parmar8_never married', 'parmar8_not married but cohabit', 'parmar8_separated', 'parmar8_widowed', 'faminc8_$10000-$14999', 'faminc8_$15000-$19999', 'faminc8_$20000-$24999', 'faminc8_$25000-$34999', 'faminc8_$3000-$4999', 'faminc8_$5000-$7499', 'faminc8_35000-$49999', 'faminc8_50000-$74999', 'faminc8_7500-$9999', 'faminc8_<$1000', 'faminc8_none', 'fathed8_coll grad', 'fathed8_doctorate', 'fathed8_dont know', 'fathed8_hs grad', 'fathed8_junior coll', 'fathed8_masters', 'fathed8_not finish hs', 'mothed8_coll grad', 'mothed8_doctorate', 'mothed8_dont know', 'mothed8_hs grad', 'mothed8_junior coll', 'mothed8_masters', 'mothed8_not finish hs', 'fhowfar_coll grad', 'fhowfar_hs grad', 'fhowfar_junior coll', 'fhowfar_not finish hs', 'fhowfar_postsec ed', 'mhowfar_coll grad', 'mhowfar_hs grad', 'mhowfar_junior coll', 'mhowfar_not finish hs', 'mhowfar_postsec ed', 'fight8_never', 'fight8_once or twice', 'nohw8_yes', 'disrupt8_yes']
Instrument variable(s): None
No. Observations: 5671

------------------ DataFrame info    ------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5671 entries, 0 to 5670
Columns: 61 entries, math12 to disrupt8_yes
dtypes: float64(3), int64(1), uint8(57)
memory usage: 493.0 KB

================== DoubleMLPLR Object ==================

------------------ Data summary      ------------------
Outcome variable: math12
Treatment variable(s): ['catholic_yes']
Covariates: ['read8', 'math8', 'riskdrop8', 'hsgrad_yes', 'inpse_yes', 'female_yes', 'race_api', 'race_black', 'race_hispanic', 'race_white', 'white_yes', 'black_yes', 'hisp_yes', 'api_yes', 'nativam_yes', 'parmar8_married', 'parmar8_never married', 'parmar8_not married but cohabit', 'parmar8_separated', 'parmar8_widowed', 'faminc8_$10000-$14999', 'faminc8_$15000-$19999', 'faminc8_$20000-$24999', 'faminc8_$25000-$34999', 'faminc8_$3000-$4999', 'faminc8_$5000-$7499', 'faminc8_35000-$49999', 'faminc8_50000-$74999', 'faminc8_7500-$9999', 'faminc8_<$1000', 'faminc8_none', 'fathed8_coll grad', 'fathed8_doctorate', 'fathed8_dont know', 'fathed8_hs grad', 'fathed8_junior coll', 'fathed8_masters', 'fathed8_not finish hs', 'mothed8_coll grad', 'mothed8_doctorate', 'mothed8_dont know', 'mothed8_hs grad', 'mothed8_junior coll', 'mothed8_masters', 'mothed8_not finish hs', 'fhowfar_coll grad', 'fhowfar_hs grad', 'fhowfar_junior coll', 'fhowfar_not finish hs', 'fhowfar_postsec ed', 'mhowfar_coll grad', 'mhowfar_hs grad', 'mhowfar_junior coll', 'mhowfar_not finish hs', 'mhowfar_postsec ed', 'fight8_never', 'fight8_once or twice', 'nohw8_yes', 'disrupt8_yes']
Instrument variable(s): None
No. Observations: 5671

------------------ Score & algorithm ------------------
Score function: partialling out
DML algorithm: dml2

------------------ Machine learner   ------------------
Learner ml_l: RandomForestRegressor(max_depth=6, max_features='sqrt', n_estimators=500)
Learner ml_m: RandomForestRegressor(max_depth=6, max_features='sqrt', n_estimators=500)

------------------ Resampling        ------------------
No. folds: 5
No. repeated sample splits: 1
Apply cross-fitting: True

------------------ Fit summary       ------------------
                  coef   std err         t     P>|t|     2.5 %    97.5 %
catholic_yes  0.697661  0.247891  2.814385  0.004887  0.211803  1.183519

In [37]:
import numpy as np
from doubleml.datasets import make_plr_CCDDHNR2018
from doubleml import DoubleMLData

np.random.seed(1234)
dml_data_bonus = DoubleMLData(df, y_col=outcome,
                                  d_cols=treatment,
                                  x_cols=list(rest))
print(dml_data_bonus)
from sklearn.base import clone
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LassoCV
learner = RandomForestRegressor(n_estimators = 100, max_features = 'sqrt', max_depth= 6)
ml_l_bonus = clone(learner)
ml_m_bonus = clone(learner)
learner = LassoCV()
ml_l_sim = clone(learner)
ml_m_sim = clone(learner)
def non_orth_score(y, d, l_hat, m_hat, g_hat, smpls):
    u_hat = y - g_hat
    psi_a = -np.multiply(d, d)
    psi_b = np.multiply(d, u_hat)
    return psi_a, psi_b

from doubleml import DoubleMLPLR
np.random.seed(3141)
obj_dml_plr_bonus = DoubleMLPLR(dml_data_bonus, ml_l_bonus, ml_m_bonus)
obj_dml_plr_bonus.fit();
print(obj_dml_plr_bonus)

================== DoubleMLData Object ==================

------------------ Data summary      ------------------
Outcome variable: math12
Treatment variable(s): ['catholic_yes']
Covariates: ['read8', 'math8', 'riskdrop8', 'hsgrad_yes', 'inpse_yes', 'female_yes', 'race_api', 'race_black', 'race_hispanic', 'race_white', 'white_yes', 'black_yes', 'hisp_yes', 'api_yes', 'nativam_yes', 'parmar8_married', 'parmar8_never married', 'parmar8_not married but cohabit', 'parmar8_separated', 'parmar8_widowed', 'faminc8_$10000-$14999', 'faminc8_$15000-$19999', 'faminc8_$20000-$24999', 'faminc8_$25000-$34999', 'faminc8_$3000-$4999', 'faminc8_$5000-$7499', 'faminc8_35000-$49999', 'faminc8_50000-$74999', 'faminc8_7500-$9999', 'faminc8_<$1000', 'faminc8_none', 'fathed8_coll grad', 'fathed8_doctorate', 'fathed8_dont know', 'fathed8_hs grad', 'fathed8_junior coll', 'fathed8_masters', 'fathed8_not finish hs', 'mothed8_coll grad', 'mothed8_doctorate', 'mothed8_dont know', 'mothed8_hs grad', 'mothed8_junior coll', 'mothed8_masters', 'mothed8_not finish hs', 'fhowfar_coll grad', 'fhowfar_hs grad', 'fhowfar_junior coll', 'fhowfar_not finish hs', 'fhowfar_postsec ed', 'mhowfar_coll grad', 'mhowfar_hs grad', 'mhowfar_junior coll', 'mhowfar_not finish hs', 'mhowfar_postsec ed', 'fight8_never', 'fight8_once or twice', 'nohw8_yes', 'disrupt8_yes']
Instrument variable(s): None
No. Observations: 5671

------------------ DataFrame info    ------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5671 entries, 0 to 5670
Columns: 61 entries, math12 to disrupt8_yes
dtypes: float64(3), int64(1), uint8(57)
memory usage: 493.0 KB

================== DoubleMLPLR Object ==================

------------------ Data summary      ------------------
Outcome variable: math12
Treatment variable(s): ['catholic_yes']
Covariates: ['read8', 'math8', 'riskdrop8', 'hsgrad_yes', 'inpse_yes', 'female_yes', 'race_api', 'race_black', 'race_hispanic', 'race_white', 'white_yes', 'black_yes', 'hisp_yes', 'api_yes', 'nativam_yes', 'parmar8_married', 'parmar8_never married', 'parmar8_not married but cohabit', 'parmar8_separated', 'parmar8_widowed', 'faminc8_$10000-$14999', 'faminc8_$15000-$19999', 'faminc8_$20000-$24999', 'faminc8_$25000-$34999', 'faminc8_$3000-$4999', 'faminc8_$5000-$7499', 'faminc8_35000-$49999', 'faminc8_50000-$74999', 'faminc8_7500-$9999', 'faminc8_<$1000', 'faminc8_none', 'fathed8_coll grad', 'fathed8_doctorate', 'fathed8_dont know', 'fathed8_hs grad', 'fathed8_junior coll', 'fathed8_masters', 'fathed8_not finish hs', 'mothed8_coll grad', 'mothed8_doctorate', 'mothed8_dont know', 'mothed8_hs grad', 'mothed8_junior coll', 'mothed8_masters', 'mothed8_not finish hs', 'fhowfar_coll grad', 'fhowfar_hs grad', 'fhowfar_junior coll', 'fhowfar_not finish hs', 'fhowfar_postsec ed', 'mhowfar_coll grad', 'mhowfar_hs grad', 'mhowfar_junior coll', 'mhowfar_not finish hs', 'mhowfar_postsec ed', 'fight8_never', 'fight8_once or twice', 'nohw8_yes', 'disrupt8_yes']
Instrument variable(s): None
No. Observations: 5671

------------------ Score & algorithm ------------------
Score function: partialling out
DML algorithm: dml2

------------------ Machine learner   ------------------
Learner ml_l: RandomForestRegressor(max_depth=6, max_features='sqrt')
Learner ml_m: RandomForestRegressor(max_depth=6, max_features='sqrt')

------------------ Resampling        ------------------
No. folds: 5
No. repeated sample splits: 1
Apply cross-fitting: True

------------------ Fit summary       ------------------
                  coef   std err         t     P>|t|     2.5 %    97.5 %
catholic_yes  0.664763  0.248377  2.676426  0.007441  0.177953  1.151574

In [38]:
# DML regression - still yeilds unbiased estimate of ATE 
from econml.dml import LinearDML
est = LinearDML(random_state=45)
est.fit(y, d, X=None,W=x)
est.summary()

Coefficient Results:  X is None, please call intercept_inference to learn the constant!

<class 'econml.utilities.Summary'>
"""
                       CATE Intercept Results
===================================================================
               point_estimate stderr zstat pvalue ci_lower ci_upper
-------------------------------------------------------------------
cate_intercept           1.19  0.219 5.443    0.0    0.761    1.618
-------------------------------------------------------------------

<sub>A linear parametric conditional average treatment effect (CATE) model was fitted:
$Y = \Theta(X)\cdot T + g(X, W) + \epsilon$
where for every outcome $i$ and treatment $j$ the CATE $\Theta_{ij}(X)$ has the form:
$\Theta_{ij}(X) = X' coef_{ij} + cate\_intercept_{ij}$
Coefficient Results table portrays the $coef_{ij}$ parameter vector for each outcome $i$ and treatment $j$. Intercept Results table portrays the $cate\_intercept_{ij}$ parameter.</sub>
"""