# Packages

In [148]:
import numpy as np
import pandas as pd
from doubleml.datasets import fetch_bonus
from doubleml import DoubleMLData 
import statsmodels.api as sm
from sklearn.base import clone
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.linear_model import LassoCV
from doubleml import DoubleMLPLIV
from doubleml import DoubleMLPLR
from prettytable import PrettyTable
from PIL import Image, ImageDraw, ImageFont
from sklearn.linear_model import LinearRegression, LogisticRegression, LassoCV, LogisticRegressionCV
from sklearn.neural_network import MLPRegressor, MLPClassifier
from catboost import CatBoostRegressor, CatBoostClassifier
from xgboost import XGBRegressor, XGBClassifier
from sklearn.preprocessing import normalize
from sklearn.model_selection import cross_val_score
import warnings
warnings.filterwarnings('ignore')
np.random.seed(3293423)

# Load the Data

In [149]:
df = pd.read_csv('/Users/pranjal/Desktop/Causal-Inference/data/wage2.csv')
cat = df.select_dtypes('object').columns
df = pd.get_dummies(df, columns = cat, drop_first = True)
df = df[df.wage>0]
print(df.shape)
df.head()

(935, 17)

,wage,hours,IQ,KWW,educ,exper,tenure,age,married,black,south,urban,sibs,brthord,meduc,feduc,lwage
0,769,40,93,35,12,11,2,31,1,0,0,1,1,2.0,8.0,8.0,6.645091
1,808,50,119,41,18,11,16,37,1,0,0,1,1,NaN,14.0,14.0,6.694562
2,825,40,108,46,14,11,9,33,1,0,0,1,1,2.0,14.0,14.0,6.715383
3,650,40,96,32,12,13,7,32,1,0,0,1,4,3.0,12.0,12.0,6.476973
4,562,40,74,27,11,14,5,34,1,0,0,1,10,6.0,6.0,11.0,6.331502

In [150]:
print(df.isnull().sum())

wage         0
hours        0
IQ           0
KWW          0
educ         0
exper        0
tenure       0
age          0
married      0
black        0
south        0
urban        0
sibs         0
brthord     83
meduc       78
feduc      194
lwage        0
dtype: int64

In [152]:
outcome = 'lwage'
treatment = 'educ'
#rest = ['exper','age', 'kidslt6', 'kidsge6']
rest = ['IQ', 'KWW', 'exper', 'tenure', 'age',
       'married', 'black', 'south', 'urban']
instruments = ['sibs', 'brthord', 'meduc','feduc',]
df = df.dropna()
df = df[[outcome] + [treatment] + rest + instruments]
y = df[outcome]
d = df[treatment]
x = df[rest].astype('float')
print(y.shape, d.shape, x.shape)

(663,) (663,) (663, 9)

# First Stage

In [153]:
k=int(df.shape[0]*0.8)
df = df.sample(df.shape[0])
y = df[outcome]
d = df[treatment]
x = df[rest]

# 5-Fold Cross validation
print(np.mean(cross_val_score(LinearRegression(), x, y, cv=5)))
print(np.mean(cross_val_score(LassoCV(), x, y, cv=5)))
print(np.mean(cross_val_score(RandomForestRegressor(max_depth=3), x, y, cv=5)))
print(np.mean(cross_val_score(CatBoostRegressor(max_depth=3, verbose=0), x, y, cv=5)))
print(np.mean(cross_val_score(XGBRegressor(max_depth=3, verbosity=0), x, y, cv=5)))
print(np.mean(cross_val_score(MLPRegressor(learning_rate_init=0.01), normalize(x), y, cv=5)))

0.20359759817155315
0.20351200310295878
0.16494721124597875
0.061937664057549434
-0.02072879863288537
0.0877746785564095

In [154]:
# 10-Fold Cross validation
print(np.mean(cross_val_score(LinearRegression(), x, d, cv=5)))
print(np.mean(cross_val_score(LassoCV(), x, d, cv=5)))
print(np.mean(cross_val_score(RandomForestRegressor(max_depth=5,), x, d, cv=5)))
print(np.mean(cross_val_score(CatBoostRegressor(max_depth=5,verbose=0), x, d, cv=5)))
print(np.mean(cross_val_score(XGBRegressor(max_depth=5,verbosity=0), x, d, cv=5)))
print(np.mean(cross_val_score(MLPRegressor(learning_rate_init=0.01), normalize(x), d, cv=5)))

0.4829702626710158
0.48053906899085463
0.5152576993901208
0.5079718966895455
0.44802956092991286
0.3501177138298527

# OLS

In [155]:
OLS = sm.OLS(endog=y, exog=sm.add_constant(np.c_[d,x]), prepend=True).fit()
print(OLS.summary(xname=['constant', treatment]+rest))

                            OLS Regression Results
==============================================================================
Dep. Variable:                  lwage   R-squared:                       0.270
Model:                            OLS   Adj. R-squared:                  0.258
Method:                 Least Squares   F-statistic:                     24.08
Date:                Thu, 15 Dec 2022   Prob (F-statistic):           8.51e-39
Time:                        01:32:03   Log-Likelihood:                -248.51
No. Observations:                 663   AIC:                             519.0
Df Residuals:                     652   BIC:                             568.5
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
constant       4.9392      0.202     24.398      0.000       4.542       5.337
educ           0.0467      0.009      5.348      0.000       0.030       0.064
IQ             0.0036      0.001      2.960      0.003       0.001       0.006
KWW            0.0036      0.002      1.501      0.134      -0.001       0.008
exper          0.0114      0.004      2.546      0.011       0.003       0.020
tenure         0.0075      0.003      2.582      0.010       0.002       0.013
age            0.0079      0.006      1.309      0.191      -0.004       0.020
married        0.1967      0.046      4.230      0.000       0.105       0.288
black         -0.1035      0.055     -1.892      0.059      -0.211       0.004
south         -0.0629      0.031     -2.052      0.041      -0.123      -0.003
urban          0.1960      0.031      6.225      0.000       0.134       0.258
==============================================================================
Omnibus:                       48.829   Durbin-Watson:                   2.081
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              157.664
Skew:                          -0.283   Prob(JB):                     5.80e-35
Kurtosis:                       5.321   Cond. No.                     1.71e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.71e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [167]:
from statsmodels.sandbox.regression.gmm import IV2SLS
endog = df['lwage']
exog =  df[[treatment] + rest]
instr = df[rest + instruments]
exog_constant = sm.add_constant(exog)
instr_constant = sm.add_constant(instr)
IV2SLS = IV2SLS(endog, exog_constant, instrument = instr_constant).fit()
print(IV2SLS.summary())

                          IV2SLS Regression Results
==============================================================================
Dep. Variable:                  lwage   R-squared:                       0.181
Model:                         IV2SLS   Adj. R-squared:                  0.169
Method:                     Two Stage   F-statistic:                     20.15
                        Least Squares   Prob (F-statistic):           1.19e-32
Date:                Thu, 15 Dec 2022
Time:                        02:34:05
No. Observations:                 663
Df Residuals:                     652
Df Model:                          10
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          4.6647      0.246     18.939      0.000       4.181       5.148
educ           0.1244      0.036      3.500      0.000       0.055       0.194
IQ            -0.0009      0.002     -0.380      0.704      -0.006       0.004
KWW           -0.0007      0.003     -0.214      0.831      -0.007       0.006
exper          0.0302      0.010      3.155      0.002       0.011       0.049
tenure         0.0070      0.003      2.250      0.025       0.001       0.013
age           -0.0036      0.008     -0.442      0.658      -0.020       0.012
married        0.2141      0.050      4.296      0.000       0.116       0.312
black         -0.1456      0.061     -2.393      0.017      -0.265      -0.026
south         -0.0683      0.033     -2.100      0.036      -0.132      -0.004
urban          0.1809      0.034      5.323      0.000       0.114       0.248
==============================================================================
Omnibus:                       19.758   Durbin-Watson:                   2.018
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               40.668
Skew:                          -0.113   Prob(JB):                     1.48e-09
Kurtosis:                       4.192   Cond. No.                     1.71e+03
==============================================================================

# ML Estimation

In [158]:
l = RandomForestRegressor(max_depth=4) # Model for E[Y|X] = E[θD+g(X)]
g = RandomForestRegressor(max_depth=4) # Model for E[Y - θD|X]=g(X)
r = m = RandomForestRegressor(max_depth=4) # Model for E[D|X]

def score(y, d, l_hat, m_hat, g_hat, smpls):
    "Score function for Single ML"
    u_hat = y - g_hat
    psi_a = -np.multiply(d, d)
    psi_b = np.multiply(d, u_hat)
    return psi_a, psi_b

# Orthogonal + Crossfitting (DML)

In [162]:
data = DoubleMLData(df, y_col=outcome,d_cols=treatment,x_cols=rest,z_cols=instruments)
DML = DoubleMLPLIV(data, l,m,g, n_folds=5,apply_cross_fitting=True)
DML.fit();
print(DML.summary)

          coef   std err       t     P>|t|     2.5 %    97.5 %
educ  0.148809  0.043241  3.4414  0.000579  0.064058  0.233559

# Summary

In [169]:
table = PrettyTable()
table.field_names = ['Estimator', 'θ_hat', 'Std Error','t','p','2.5%','97.25%']
idx = 1
a = ['OLS']+ np.c_[OLS.params[idx], OLS.bse[idx], OLS.tvalues[idx], OLS.pvalues[idx], np.nan, np.nan].reshape(-1).tolist()
table.add_row(a)
a = ['IV-2SLS']+ np.c_[IV2SLS.params[1], IV2SLS.bse[1], IV2SLS.tvalues[1], IV2SLS.pvalues[1], np.nan, np.nan].reshape(-1).tolist()
table.add_row(a)
#a = ['Naive/Single ML (SML)']+ np.array(SML.summary).reshape(-1).tolist()
#table.add_row(a)
#a = ['Orthogonal ML (OML)']+ np.array(OML.summary).reshape(-1).tolist()
#table.add_row(a)
a = ['Double ML (DML)']+ np.array(DML.summary).reshape(-1).tolist()
table.add_row(a)
table.float_format = '0.3'
print(table)

+-----------------+-------+-----------+-------+-------+-------+--------+
|    Estimator    | θ_hat | Std Error |   t   |   p   |  2.5% | 97.25% |
+-----------------+-------+-----------+-------+-------+-------+--------+
|       OLS       | 0.047 |   0.009   | 5.348 | 0.000 |  nan  |  nan   |
|     IV-2SLS     | 0.124 |   0.036   | 3.500 | 0.000 |  nan  |  nan   |
| Double ML (DML) | 0.149 |   0.043   | 3.441 | 0.001 | 0.064 | 0.234  |
+-----------------+-------+-----------+-------+-------+-------+--------+