# Packages

In [4]:
import numpy as np
import pandas as pd
from doubleml.datasets import fetch_bonus, fetch_401K
from doubleml import DoubleMLData
import statsmodels.api as sm
from sklearn.base import clone
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.linear_model import LassoCV
from doubleml import DoubleMLPLR
from doubleml import DoubleMLPLR
from prettytable import PrettyTable
from PIL import Image, ImageDraw, ImageFont
from sklearn.linear_model import LinearRegression, LogisticRegression, LassoCV, LogisticRegressionCV
from sklearn.neural_network import MLPRegressor, MLPClassifier
from catboost import CatBoostRegressor, CatBoostClassifier
from xgboost import XGBRegressor, XGBClassifier
from sklearn.preprocessing import normalize
from sklearn.model_selection import cross_val_score
import warnings
warnings.filterwarnings('ignore')
np.random.seed(3293423)

# Load the Data

In [5]:
np.random.seed(1)
df = fetch_401K('DataFrame')
df.head(5)

,nifa,net_tfa,tw,age,inc,fsize,educ,db,marr,twoearn,e401,p401,pira,hown
0,0.0,0.0,4500.0,47,6765.0,2,8,0,0,0,0,0,0,1
1,6215.0,1015.0,22390.0,36,28452.0,1,16,0,0,0,0,0,0,1
2,0.0,-2000.0,-2000.0,37,3300.0,6,12,1,0,0,0,0,0,0
3,15000.0,15000.0,155000.0,58,52590.0,2,16,0,1,1,0,0,0,1
4,0.0,0.0,58000.0,32,21804.0,1,11,0,0,0,0,0,0,1

In [7]:
df.columns

Index(['nifa', 'net_tfa', 'tw', 'age', 'inc', 'fsize', 'educ', 'db', 'marr',
       'twoearn', 'e401', 'p401', 'pira', 'hown'],
      dtype='object')

In [6]:
print(df.isnull().sum())

nifa       0
net_tfa    0
tw         0
age        0
inc        0
fsize      0
educ       0
db         0
marr       0
twoearn    0
e401       0
p401       0
pira       0
hown       0
dtype: int64

In [9]:
outcome = 'net_tfa'
treatment = 'e401'
rest = ['age', 'inc', 'educ', 'fsize', 'marr', 'twoearn', 'db', 'pira', 'hown']
df = df[[outcome] + [treatment] + rest]
y = np.array(df.net_tfa).reshape(-1, 1)
d = np.array(df.e401).astype(int).reshape(-1, 1)
x = np.array(df[rest])
print(y.shape, d.shape, x.shape)

(9915, 1) (9915, 1) (9915, 9)

# First Stage

In [10]:
np.random.seed(42)
table = PrettyTable()
table.field_names = ['Estimator', 'g(X):Rsquared', 'm(X):Accuracy']
a = ['Linear/Logistic',np.mean(cross_val_score(LinearRegression(), x, y, cv=5)),np.mean(cross_val_score(LogisticRegression(), x, d, cv=5))]
table.add_row(a)
a = ['Linear/Logistic (Reg)',np.mean(cross_val_score(LassoCV(), x, y, cv=5)),np.mean(cross_val_score(LogisticRegressionCV(), x, d, cv=5))]
table.add_row(a)
a = ['Random Forests',np.mean(cross_val_score(RandomForestRegressor(max_depth=5,n_estimators=500,verbose=0), x, y, cv=5)),np.mean(cross_val_score(RandomForestClassifier(max_depth=5), x, d, cv=5))]
table.add_row(a)
a = ['Boosting',np.mean(cross_val_score(XGBRegressor(max_depth=3,verbosity=0), x, y, cv=5)),np.mean(cross_val_score(XGBClassifier(verbosity=0,max_depth=5), x, d, cv=5))]
table.add_row(a)
a = ['Neural Networks',np.mean(cross_val_score(MLPRegressor((5,2,), activation = 'tanh', max_iter=500, learning_rate_init=0.01), normalize(x), y, cv=5)),np.mean(cross_val_score(MLPClassifier((5,2,), activation = 'tanh', max_iter=500,learning_rate_init=0.01), normalize(x), d, cv=5))]
table.add_row(a)
table.float_format = '0.3'
print(table)

+-----------------------+---------------+---------------+
|       Estimator       | g(X):Rsquared | m(X):Accuracy |
+-----------------------+---------------+---------------+
|    Linear/Logistic    |     0.179     |     0.654     |
| Linear/Logistic (Reg) |     0.091     |     0.657     |
|     Random Forests    |     0.174     |     0.691     |
|        Boosting       |     0.047     |     0.674     |
|    Neural Networks    |     -0.083    |     0.651     |
+-----------------------+---------------+---------------+

# OLS

In [11]:
OLS = sm.OLS(y,sm.add_constant(np.c_[d,x])).fit()
OLS.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.231
Model:                            OLS   Adj. R-squared:                  0.230
Method:                 Least Squares   F-statistic:                     297.8
Date:                Thu, 15 Dec 2022   Prob (F-statistic):               0.00
Time:                        04:13:59   Log-Likelihood:            -1.2242e+05
No. Observations:                9915   AIC:                         2.449e+05
Df Residuals:                    9904   BIC:                         2.449e+05
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -3.291e+04   4276.223     -7.695      0.000   -4.13e+04   -2.45e+04
x1          5896.1984   1250.014      4.717      0.000    3445.917    8346.480
x2           624.1455     59.521     10.486      0.000     507.472     740.819
x3             0.9357      0.030     30.982      0.000       0.876       0.995
x4          -639.7538    228.499     -2.800      0.005   -1087.659    -191.848
x5         -1018.7979    449.859     -2.265      0.024   -1900.614    -136.982
x6           743.3445   1795.556      0.414      0.679   -2776.310    4262.999
x7         -1.923e+04   1576.431    -12.196      0.000   -2.23e+04   -1.61e+04
x8         -4904.5684   1359.098     -3.609      0.000   -7568.677   -2240.460
x9          2.953e+04   1465.830     20.148      0.000    2.67e+04    3.24e+04
x10         1185.2564   1323.687      0.895      0.371   -1409.439    3779.952
==============================================================================
Omnibus:                    16589.925   Durbin-Watson:                   1.992
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         19604641.129
Skew:                          11.217   Prob(JB):                         0.00
Kurtosis:                     219.682   Cond. No.                     3.43e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.43e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

# ML Estimation

In [12]:
l = RandomForestRegressor(max_depth=5,n_estimators=500,verbose=0) # Model for E[Y|X]=E[θD+g(X)]
g = RandomForestRegressor(max_depth=5,n_estimators=500,verbose=0) # Model for E[Y - θD|X]=g(X)
m = RandomForestClassifier(max_depth=5,n_estimators=500,verbose=0) # Model for E[D|X]

def score(y, d, l_hat, m_hat, g_hat, smpls):
    "Score function for Single ML"
    u_hat = y - g_hat
    psi_a = -np.multiply(d, d)
    psi_b = np.multiply(d, u_hat)
    return psi_a, psi_b

# Single-ML

In [13]:
data = DoubleMLData(df, y_col=outcome,d_cols=treatment,x_cols=rest)
SML = DoubleMLPLR(data, l, m, g, n_folds=1, apply_cross_fitting=False, score=score)
SML.fit()
print(SML.summary)

             coef     std err         t         P>|t|        2.5 %  \
e401  9363.611849  944.456697  9.914284  3.608345e-23  7512.510739

           97.5 %
e401  11214.71296

# Orthogonal-ML

In [14]:
data = DoubleMLData(df,y_col=outcome,d_cols=treatment,x_cols=rest)
OML = DoubleMLPLR(data,l, m, g, n_folds=1,apply_cross_fitting=False,score='IV-type')
OML.fit();
print(OML.summary)

             coef      std err         t         P>|t|        2.5 %  \
e401  8890.342944  1141.258704  7.789945  6.703818e-15  6653.516988

            97.5 %
e401  11127.168901

# Orthogonal + Crossfitting (DML)

In [15]:
data = DoubleMLData(df,y_col=outcome,d_cols=treatment,x_cols=rest)
DML = DoubleMLPLR(data, l,m,g, n_folds=5,apply_cross_fitting=True,score='IV-type')
DML.fit();
print(DML.summary)

             coef      std err         t         P>|t|       2.5 %  \
e401  8606.716392  1343.374339  6.406789  1.486159e-10  5973.75107

            97.5 %
e401  11239.681714

# Summary

In [16]:
table = PrettyTable()
table.field_names = ['Estimator', 'θ_hat', 'Std Error','t','p','2.5%','97.25%']
idx = 1
a = ['OLS']+ np.c_[OLS.params[idx], OLS.bse[idx], OLS.tvalues[idx], OLS.pvalues[idx], np.nan, np.nan].reshape(-1).tolist()
table.add_row(a)
a = ['Single ML (SML)']+ np.array(SML.summary).reshape(-1).tolist()
table.add_row(a)
a = ['Orthogonal ML (OML)']+ np.array(OML.summary).reshape(-1).tolist()
table.add_row(a)
a = ['Double ML (DML)']+ np.array(DML.summary).reshape(-1).tolist()
table.add_row(a)
table.float_format = '0.3'
print(table)

+---------------------+----------+-----------+-------+-------+----------+-----------+
|      Estimator      |  θ_hat   | Std Error |   t   |   p   |   2.5%   |   97.25%  |
+---------------------+----------+-----------+-------+-------+----------+-----------+
|         OLS         | 5896.198 |  1250.014 | 4.717 | 0.000 |   nan    |    nan    |
|   Single ML (SML)   | 9363.612 |  944.457  | 9.914 | 0.000 | 7512.511 | 11214.713 |
| Orthogonal ML (OML) | 8890.343 |  1141.259 | 7.790 | 0.000 | 6653.517 | 11127.169 |
|   Double ML (DML)   | 8606.716 |  1343.374 | 6.407 | 0.000 | 5973.751 | 11239.682 |
+---------------------+----------+-----------+-------+-------+----------+-----------+