In [153]:
import wooldridge
df = wooldridge.data('jtrain3')
df['avg'] = 0.5 * (df.re74+df.re75)
df = df.dropna()
df = df[df.avg <= 15]
y = df.re78
d = df.train
x = df[['age', 'educ', 'black', 'hisp', 'married', 're74', 're75']]
print(df.shape)
df.head()

(1162, 21)

,train,age,educ,black,hisp,married,re74,re75,unem75,unem74,...,agesq,trre74,trre75,trun74,trun75,avgre,travgre,unem78,em78,avg
0,1,37,11,1,0,1,0.0,0.0,1,1,...,1369,0.0,0.0,1,1,0.0,0.0,0,1,0.0
1,1,30,12,1,0,0,0.0,0.0,1,1,...,900,0.0,0.0,1,1,0.0,0.0,0,1,0.0
2,1,27,11,1,0,0,0.0,0.0,1,1,...,729,0.0,0.0,1,1,0.0,0.0,0,1,0.0
3,1,33,8,1,0,0,0.0,0.0,1,1,...,1089,0.0,0.0,1,1,0.0,0.0,0,1,0.0
4,1,22,9,1,0,0,0.0,0.0,1,1,...,484,0.0,0.0,1,1,0.0,0.0,0,1,0.0

In [152]:
df.re74.median()

17.4375

In [154]:
# Simple Comparision of Means
import statsmodels.api as sm
mod = sm.OLS(y, sm.add_constant(np.c_[d], prepend=False))
res = mod.fit()
print(res.params[0])
print(res.bse[0])

-5.005320695275107
0.8190084943506127

In [155]:
# Pooled Regression Adjustment
import statsmodels.api as sm
mod = sm.OLS(y, sm.add_constant(np.c_[d, x], prepend=False))
res = mod.fit()
print(res.params[0])
print(res.bse[0])

2.0590394817821287
0.9396984867155423

In [158]:
import numpy as np
from doubleml.datasets import make_plr_CCDDHNR2018
from doubleml import DoubleMLData

np.random.seed(1234)
dml_data_bonus = DoubleMLData(df, y_col='re78',
                                  d_cols='train',
                                  x_cols=['age','educ', 'black', 'hisp', 'married', 're74', 're75'])
print(dml_data_bonus)
from sklearn.base import clone
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LassoCV
learner = RandomForestRegressor(n_estimators = 200, max_features = 'sqrt', max_depth= 6)
ml_l_bonus = clone(learner)
ml_m_bonus = clone(learner)
learner = LassoCV()
ml_l_sim = clone(learner)
ml_m_sim = clone(learner)
def non_orth_score(y, d, l_hat, m_hat, g_hat, smpls):
    u_hat = y - g_hat
    psi_a = -np.multiply(d, d)
    psi_b = np.multiply(d, u_hat)
    return psi_a, psi_b

from doubleml import DoubleMLPLR
np.random.seed(3141)
obj_dml_plr_bonus = DoubleMLPLR(dml_data_bonus, ml_l_bonus, ml_m_bonus)
obj_dml_plr_bonus.fit();
print(obj_dml_plr_bonus)

================== DoubleMLData Object ==================

------------------ Data summary      ------------------
Outcome variable: re78
Treatment variable(s): ['train']
Covariates: ['age', 'educ', 'black', 'hisp', 'married', 're74', 're75']
Instrument variable(s): None
No. Observations: 1162

------------------ DataFrame info    ------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1162 entries, 0 to 2589
Columns: 21 entries, train to avg
dtypes: float64(8), int64(13)
memory usage: 199.7 KB

================== DoubleMLPLR Object ==================

------------------ Data summary      ------------------
Outcome variable: re78
Treatment variable(s): ['train']
Covariates: ['age', 'educ', 'black', 'hisp', 'married', 're74', 're75']
Instrument variable(s): None
No. Observations: 1162

------------------ Score & algorithm ------------------
Score function: partialling out
DML algorithm: dml2

------------------ Machine learner   ------------------
Learner ml_l: RandomForestRegressor(max_depth=6, max_features='sqrt', n_estimators=200)
Learner ml_m: RandomForestRegressor(max_depth=6, max_features='sqrt', n_estimators=200)

------------------ Resampling        ------------------
No. folds: 5
No. repeated sample splits: 1
Apply cross-fitting: True

------------------ Fit summary       ------------------
           coef   std err         t    P>|t|     2.5 %    97.5 %
train -0.341199  0.900173 -0.379038  0.70466 -2.105505  1.423107

In [161]:
from econml.dml import LinearDML
from sklearn.ensemble import RandomForestRegressor
est = LinearDML(model_y=RandomForestRegressor(),
                model_t=RandomForestRegressor())
est.fit(y, d, X=None, W=x)
pnt_effect = est.const_marginal_effect(X)
lb_effect, ub_effect = est.const_marginal_effect_interval(X, alpha=.05)
pnt_coef = est.coef_
lb_coef, ub_coef = est.coef__interval(alpha=.05)

In [162]:
est.coef_

array([], dtype=float64)